// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table {
  width: 100vw;
  tbody {
    tr {
      width: 80vw;
      text-align: center;
      font-size: 1.4em;
    }
  }
}
